*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#1d1d1d,#333);
}

.converter{
  background:#fff;
  padding:30px;
  border-radius:15px;
  width:350px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.converter h1{
  margin-bottom:20px;
  color:#222;
}

input, select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:8px;
  font-size:16px;
}

.select-box{
  display:flex;
  align-items:center;
  gap:10px;
}

button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  background:#00b894;
  color:#fff;
  font-size:18px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#019875;
}

#result{
  margin-top:20px;
  color:#111;
}
